*.fasta
*.fasta.*
*.fa
*.fa.*
!*reference*fasta
*.fq
*.fq.*
*.fastq
*.fastq.*
*.bam
*.bam.*
*.sam
dDocentHPC/
fltrVCF/
*uniq*seqs
*original_attempt/
*.out
*.Temp*
*.seq
*.csv
*NotInIndelCategory*
FqScrn_OutDir
*zip
*json
wget-log*
*Temp
